{
  "env": {
    "dist": {
      "presets": [
        [
          "@babel/preset-env", {
            "loose": true,
            "modules": false,
            "targets": { "browsers": "" },
            "useBuiltIns": "entry"
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": { "node": "current" },
            "useBuiltIns": "entry"
          }
        ]
      ]
    }
  }
}

